{# _includes/footer.njk #}
    <footer>
        <div class="two-col">
            <div class="col left">
                <ul class="profile">
                    <li class="name">{% if page.url!='/' %}<a href="/">{% endif %}Ian Allan{% if page.url!='/' %}</a>{% endif %}</li>
                    <li class="what">Venture designer</li>
                    <li class="what">Ethical technologist</li>
                    <li class="location">East Coast, New Zealand</li>
                    <li class="li"><a href="https://www.linkedin.com/in/ianallan/" class="popout"
                            target="_blank">LinkedIn</a></li>
                </ul>

            </div>
            <div class="col right">
                {% include "navlinks.njk" %}
            </div>
        </div>

        <p>© Ian Allan 2025. All Rights Reserved.</p>

    </footer>
