{# _includes/modal-learning.njk #}
<!-- Modal: Learning design  -->
<article id="modal-learning" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Current 🟢</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work learning">
            <p class="tagline"><span class="highlight">But what can you <em>do</em> at the end of this course?</span></p>
            <p class="tagline">I'm a Senior Academic Staff Member with a track record of innovative experiential learning design.</p>
            <ul>
                <li>A focus on developing applied skill competencies</li>
                <li>Creating real experiences</li>
                <li>In the context of societal and industrial shifts</li>
                <li>By bringing product principles to learning design</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>
    </div>
</article>