{# _includes/modal-exec.njk #}
<!-- Modal: Exec Services -->
<article id="modal-exec" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Ready now 🟢</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail exec">
            {% include "profile.njk" %}
            <h2>## Let's meet</h2>
            <p><a href="#" id="mp-link" class="popout">Mob</a><span class="contact-type"> (tel:)</span></p>
            <p><a href="#" id="e-link" class="popout">Email</a><span class="contact-type"> (mailto:)</span></p>
            <p>Gisborne<span class="contact-type"> (loc=nz)</span></p>
        </div>
    </div>
</article>