{# _includes/modal-pockit.njk #}
<!-- Modal: Pockit -->
<article id="modal-pockit" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Piloting 🟡</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work pockit">
            <img src="../images/modal-img-pockit-logo.png" class="logo">
            <p class="tagline"><span class="highlight">Our future creative leaders will be those who don't see the world through this screen.</span></p>
            <p class="tagline">With this venture I'm attacking screen addiction with a:</p>
            <ul>
                <li>Tactile, long-term product roadmap</li>
                <li>Resonant brand</li>
                <li>Connection to purpose</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>
    </div>
</article>