{# _includes/modal-exec.njk #}
<!-- Modal: Exec Services -->
<article id="modal-exec" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Ready now 🟢</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work exec">
            <img src="../images/modal-img-exec.jpg">
            <p class="tagline"><span class="highlight">For critical thoughts and persuasive responses.</span></p>
            <p class="tagline">A deeply invested executive career straddling products and markets and capital.</p>
            <ul>
                <li>Solving local problems in international markets</li>
                <li>From UX to pricing models to sales proposals to investment marketing</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>
    </div>
</article>