{# _includes/modal-sinkashi.njk #}
<!-- Modal: Sinkashi -->
<article id="modal-sinkashi" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Designing 🔴</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work sinkashi">
            <img src="../images/modal-img-sinkashi-logo.png" class="logo">
            <p class="tagline"><span class="highlight">Collecting food scraps never felt so good.</span></p>
            <p class="tagline">Sinkashi is my venture built around a no-nonsense product for the home:</p>
            <ul>
                <li>A satisfying, proudly mechanical everyday kitchen product</li>
                <li>Complements composting initiatives</li>
                <li>Patentable</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>    
    </div>
</article>