{# _includes/modal-saved.njk #}
<!-- Modal: Saved -->
<article id="modal-saved" class="modal" role="dialog" aria-modal="true" inert>
    <div class="modal-content">
        <h1># Testing 🔴</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work saved">
            <img src="../images/modal-img-saved-logo.png" class="logo">
            <p class="tagline"><span class="highlight">400 million Windows 10 devices are heading for e-waste.</span></p>
            <p class="tagline">I'm founding this venture on the belief that ① <strong>it can be saved</strong>, and ② <strong>we can be saved</strong> with&nbsp;a:</p>
            <ul>
                <li>Long-term diversified roadmap</li>
                <li>Zeitgeist brand</li>
                <li>Visible community presence</li>
                <li>Franchise strategy</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>    
    </div>
</article>