{# _includes/modal-pockit.njk #}
<!-- Modal: Pockit -->
<article id="modal-pockit" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Piloting 🟡</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work pockit">
            <img src="../images/modal-img-pockit-logo.png" class="logo">
            <p class="tagline"><span class="highlight">Our future creative leaders will be those who don't see the world through this screen.</span></p>
            <p class="tagline">Attacking screen addiction with a tactile product suite and a resonant brand.</p>
            <h2>## Venture design</h2>
            <ul>
                <li>Product design</li>
                <li>Product-market fit</li>
                <li>Go-to-market strategy</li>
                <li>Extensive product roadmap</li>
                <li>Brand and digital design</li>
                <li>Tech-enabled production automation</li>
            </ul>
        </div>
    </div>
</article>