{# _includes/modal-advocacy.njk #}
<!-- Modal: Vocational Education Advocacy -->
<article id="modal-advocacy" class="modal" role="dialog" aria-modal="true" inert>
    <div class="modal-content">
        <h1># Current 🟢</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail work advocacy">
            <img src="../images/work-teu.jpg">
            <p class="tagline"><span class="highlight">In a world gone mad, it's the practical and useful skills that we need.</span></p>
            <p class="tagline">I'm the Tertiary Education Union Branch President for EIT Tairāwhiti. Here to defend the value of vocational education.</p>
            <ul>
                <li>The fight for our regions is the fight for our work</li>
                <li>Seeking the influence of industry to advocate for us</li>
            </ul>
            <p><a href="#modal-contact" class="button-inline-outline popup">Enquire</a></p>
        </div>
    </div>
</article>