{# _includes/modal-contact.njk #}
<!-- Modal: Contact -->
<article id="modal-contact" class="modal" role="dialog" aria-modal="true" inert>
    <div class="modal-content">
        <h1># Contact</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="detail contact">
            {% include "profile.njk" %}
            <h2>## Let's meet</h2>
            <p><a href="#" id="mp-link" class="popout">Mob</a><span class="contact-type"> (tel:)</span></p>
            <p><a href="#" id="e-link" class="popout">Email</a><span class="contact-type"> (mailto:)</span></p>
            <p>Gisborne<span class="contact-type"> (loc=nz)</span></p>
        </div>
    </div>
</article>