{# _includes/modal-contact.njk #}
<!-- Modal: Contact -->
<article id="modal-contact" class="modal" aria-hidden="true">
    <div class="modal-content">
        <h1># Contact</h1>
        <button class="close" aria-label="Close modal">&times;</button>
        <div class="contact-detail">
            {% include "profile.njk" %}
            <h2>## Let's meet</h2>
            <p><a href="#" id="mp-link"></a> (tel)</p>
            <p><a href="#" id="e-link"></a> (mailto)</p>
            <p>Gisborne Central (loc=nz)</p>
        </div>
    </div>
</article>