{# _includes/navlinks.njk #}
<ul class="menu">
    <li>{% if page.url=='/' %}#{% else %}/{% endif %}<a href="/{% if page.url=='/' %}#services{% endif %}" {% if page.url=='/' %} class="active" {% endif %}>{% if page.url!='/' %}home&{% endif %}services</a></li>
    <li>/<a href="/about/" {% if page.url=='/about/' %} class="active" {% endif %}>about</a></li>
    <li>/<a href="/blog/" {% if page.url.startsWith('/blog/') %}class="active"{% endif %}>blog</a></li>
    <li>/<a href="/data-room/" {% if page.url=='/data-room/' %} class="active" {% endif %}>dataroom</a></li>
    <li>/<a href="#modal-contact" class="popup">contact</a></li>
</ul>