{# _includes/navlinks.njk #}
<ul class="menu">
    <li>#<a href="/#services" {% if page.url=='/' %} class="active" {% endif %}>services</a></li>
    <li>/<a href="/about/" {% if page.url=='/about/' %} class="active" {% endif %}>about</a></li>
    <li>/<a href="/blog/" {% if page.url=='/blog/' %} class="active" {% endif %}>thinking</a></li>
    <li>/<a href="/data-room/" {% if page.url=='/data-room/' %} class="active" {% endif %}>dataroom</a></li>
    <li>/<a href="#modal-contact" class="popup">contact</a></li>
</ul>