{# _includes/profile.njk #}
<ul class="profile">
    <li class="name">Ian Allan</li>
    <li class="what">Venture designer</li>
    <li class="what">Ethical technologist</li>
    <li class="location">East Coast,<br>New Zealand</li>
</ul>