{# _includes/profile.njk #}
<ul class="profile">
    <li class="name">{% if page.url!='/' %}<a href="/">{% endif %}Ian Allan{% if page.url!='/' %}</a>{% endif %}</li>
    <li class="what">Venture designer</li>
    <li class="what">Ethical technologist</li>
    <li class="location"><span>East Coast,</span> <span>New Zealand</span></li>
</ul>