<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/custom.css">
</head>

<body>
    {% include "lines.njk" %}

    <header>
    {% include "navbar.njk" %}
    <div class="page-name blog-post-name">
        <h1># Blog post</h1>
    </div>
    {% include "profile.njk" %}
    </header>
    <main>
        <section id="blog-post" class="blog-post">
            <article>
                {{ content | safe }}
            </article>
        </section>
    </main>
    {% include "modal-contact.njk" %}
    {% include "footer.njk" %}

    <script src="/js/custom.js" defer></script>
</body>

</html>