<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-256x256.png">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/carson.css">
    <meta name="theme-color" content="#F4F4F4">
    <!-- SEO basics -->
    <meta name="description" content="{{ excerpt }}">
    <meta name="keywords" content="Ian Allan, ethical technologist, venture designer, product design, UX, UI, pitches, proposals, brand, market analysis, product-market fit, learning design">
    <meta name="author" content="Ian Allan">
    <!-- Open Graph (Facebook, LinkedIn, etc.) -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ excerpt }}">
    <meta property="og:image" content="https://ianallannz.github.io/images/ianallan-social-share.jpg">
    <meta property="og:url" content="https://ianallannz.github.io">
    <meta property="og:type" content="website">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ excerpt }}">
    <meta name="twitter:image" content="https://ianallannz.github.io/images/ianallan-social-share.jpg">
</head>

<body class="{{ page.fileSlug }}">
    {% include "lines.njk" %}

    <header>
        {% include "navbar.njk" %}
        <div class="page-name blog-post-name">
            <h1># <a href="/blog">Blog</a> post</h1>
        </div>
        {% include "profile.njk" %}
    </header>
    <main>
        <section id="blog-post" class="blog-post{% if not carsonify %} carsonify-off{% else %} carsonify-{{ carsonify }}{% endif %}">
            <article>
                <p class="post-date">{{ date | date("d MMMM yyyy") }}</p>
                {{ content | safe }}
            </article>

            {% set relatedPosts = collections.relatedPostMap.get(page.url) %}
            {% if relatedPosts %}
            <div class="related-posts">
                <h2>## Related Posts</h2>
                <ul>
                    {% for post in relatedPosts %}
                    <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}


        </section>


    </main>
    {% include "modal-contact.njk" %}
    {% include "footer.njk" %}

    <script src="/js/custom.js" defer></script>
    <script src="/js/carson.js" defer></script>
</body>

</html>