@import url('https://fonts.googleapis.com/css2?family=Recursive:slnt,wght,CASL,CRSV@-15,300,1,1&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color: #f4f4f4;
    color: #000000;
}

nav {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: rem;
}

nav .hamburger {
    font-size: 0.8rem;
    padding: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 2;
}

nav .menu {
    position: absolute;
    top: 2.5rem;
    right: 0.8rem;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0.5rem 0.5rem;
    /* border-right: 1px solid #666666; */
    z-index: 1;
    max-height: 0;
    opacity: 0;
    background-color: #f4f4f4;
    transform: translateY(-10px);
    overflow: hidden;
    transition: max-height 0.2s ease, opacity 0.4s ease, transform 0.1s ease;
}

nav .menu.open {
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

nav .menu li {
    font-family: 'Space Mono', monospace;
    font-size: 0.9rem;
    opacity: 0;
    text-align: right;
    transform: translateY(-5px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav .menu li a {
    display: inline-block;
    color: #1100FF;
    padding: 0.4rem 0.2rem 0.4rem 0rem;
}

nav .menu li a:hover {
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}

nav .menu li a.active {
    color: #000000;
    text-decoration: none;
}


nav .menu.open li {
    opacity: 1;
    transform: translateY(0);
}

/* Stagger each item */
nav .menu.open li:nth-child(1) {
    transition-delay: 0.05s;
}

nav .menu.open li:nth-child(2) {
    transition-delay: 0.1s;
}

nav .menu.open li:nth-child(3) {
    transition-delay: 0.15s;
}

nav .menu.open li:nth-child(4) {
    transition-delay: 0.2s;
}

nav .menu.open li:nth-child(5) {
    transition-delay: 0.25s;
}

header .page-name {
    position: absolute;
    top: 8.3rem;
    right: 0rem;
    width: 8rem;
    height: 10rem;
    background-image: url(../images/page-name-arrow.svg);
    background-size: 86px;
    background-repeat: no-repeat;
}

header .page-name h1 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translateY(1.5rem) translateX(4rem) rotate(90deg);
}

header .blog-name h1 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translateY(1.1rem) translateX(4.4rem) rotate(90deg);
}

header .blog-post-name h1 {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    transform: translateY(2.6rem) translateX(2.9rem) rotate(90deg);
}

header .blog-post-name h1 a {
    color: #000000;
}

header .blog-post-name h1 a:hover {
    color: #1100FF;
    text-decoration: none;
}

header ul.profile {
    font-size: 1.2rem;
    margin-top: 4rem;
    margin-left: 1.8rem;
    display: inline-block;
}

header ul.profile li {
    list-style: none;
    text-shadow:
        2px 0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        1.4px 1.4px 0 #FFFFFF,
        -1.4px 1.4px 0 #FFFFFF,
        1.4px -1.4px 0 #FFFFFF,
        -1.4px -1.4px 0 #FFFFFF;
}

header ul.profile li.name {
    font-weight: 700;
}

header ul.profile li a {
    color:#000000;
    text-decoration: underline;
}

header ul.profile li a:hover {
    color: #1100FF;
    text-decoration: none;
}

header .about-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

header .about-wrapper .cta {
    order: 2;
}

header .about-wrapper .hero {
    order: 1;
}

header .blog-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

header .cta {
    margin-top: 2.5rem;
    margin-left: 4rem;
    margin-right: 1.8rem;
}

header .cta h1 {
    font-size: 1rem;
    text-shadow:
        2px 0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        1.4px 1.4px 0 #FFFFFF,
        -1.4px 1.4px 0 #FFFFFF,
        1.4px -1.4px 0 #FFFFFF,
        -1.4px -1.4px 0 #FFFFFF;
}

header .cta p.copy {
    text-shadow:
        2px 0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        1.4px 1.4px 0 #FFFFFF,
        -1.4px 1.4px 0 #FFFFFF,
        1.4px -1.4px 0 #FFFFFF,
        -1.4px -1.4px 0 #FFFFFF;
}

header .cta p.quote {
    max-width: 30rem;
    font-size: 1.2rem;
    font-family: 'Recursive', sans-serif;
    font-weight: 300;
    font-variation-settings:
        'CASL' 1,
        /* Full Casual */
        'MONO' 0,
        /* Sans mode */
        'slnt' -15,
        /* More slant for stronger italic feel */
        'CRSV' 1;
    /* Max cursive flair */
    text-shadow:
        2px 0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        1.4px 1.4px 0 #FFFFFF,
        -1.4px 1.4px 0 #FFFFFF,
        1.4px -1.4px 0 #FFFFFF,
        -1.4px -1.4px 0 #FFFFFF;
}

header .cta p.featured-post {
    max-width: 30rem;
    margin-bottom: 0.3rem;
    font-size: 1.4rem;
    font-family: 'Recursive', sans-serif;
    font-weight: 300;
    font-variation-settings:
        'CASL' 1,
        /* Full Casual */
        'MONO' 0,
        /* Sans mode */
        'slnt' -15,
        /* More slant for stronger italic feel */
        'CRSV' 1;
    /* Max cursive flair */
    text-shadow:
        2px 0 0 #FFFFFF,
        -2px 0 0 #FFFFFF,
        0 2px 0 #FFFFFF,
        0 -2px 0 #FFFFFF,
        1.4px 1.4px 0 #FFFFFF,
        -1.4px 1.4px 0 #FFFFFF,
        1.4px -1.4px 0 #FFFFFF,
        -1.4px -1.4px 0 #FFFFFF;
}

header .cta p.featured-post a {
    color: #1100FF;
}

header .cta p.quote-author {
    padding-left: 0.8rem;
    color: #666666;
    text-shadow:
        2px 0 0 #F4F4F4,
        -2px 0 0 #F4F4F4,
        0 2px 0 #F4F4F4,
        0 -2px 0 #F4F4F4,
        1.4px 1.4px 0 #F4F4F4,
        -1.4px 1.4px 0 #F4F4F4,
        1.4px -1.4px 0 #F4F4F4,
        -1.4px -1.4px 0 #F4F4F4;
}

header .cta p.featured-post-date {
    padding-left: 0.8rem;
    color: #666666;
    text-shadow:
        2px 0 0 #F4F4F4,
        -2px 0 0 #F4F4F4,
        0 2px 0 #F4F4F4,
        0 -2px 0 #F4F4F4,
        1.4px 1.4px 0 #F4F4F4,
        -1.4px 1.4px 0 #F4F4F4,
        1.4px -1.4px 0 #F4F4F4,
        -1.4px -1.4px 0 #F4F4F4;
}

header .cta p.button {
    margin-top: 1.2rem;
    font-family: "Space Mono", monospace;
    font-size: 0.9rem;
}

header .about-wrapper .cta p.button {
    display: none;
}

header .blog {
    margin-left: 2rem;
    margin-right: 0rem;
    padding-top: 1rem;
    padding-right: 7rem;
    padding-bottom: 1rem;
    background-image: url('../images/lamp-flip.jpg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

header .blog p.button {
    display: none;
}

header .cta p a.button-inline {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1100FF;
    padding: 0.4rem 0.6rem 0.5rem 0.6rem;
    border-radius: 0px;
}

header .cta p a.button-inline-outline {
    display: inline-block;
    text-decoration: none;
    color: #1100FF;
    background-color: #FFFFFF;
    padding: 0.4rem 0.6rem 0.5rem 0.6rem;
    border: 2px solid #1100FF;
    border-radius: 0px;
}

header .cta p.button .button-tag {
    text-shadow:
        2px 0 0 #F4F4F4,
        -2px 0 0 #F4F4F4,
        0 2px 0 #F4F4F4,
        0 -2px 0 #F4F4F4,
        1.4px 1.4px 0 #F4F4F4,
        -1.4px 1.4px 0 #F4F4F4,
        1.4px -1.4px 0 #F4F4F4,
        -1.4px -1.4px 0 #F4F4F4;
}


header .hero {
    margin-top: 2.5rem;
    padding-left: 4rem;
    width: calc(100%);
    text-align: right;
    height: 100vh;
    background-image: url('../images/vintage-gissy-river.jpg');
    background-repeat: no-repeat;
    background-position-y: 14rem;
}

header .about-wrapper .hero {
    margin-top: -0.5rem;
    margin-left: 2rem;
    padding-left: 0rem;
    height: 80vh;
    width: calc(100% - 2rem);
    /* width: calc(110% - 4rem); */
    background-image: url('../images/gorge.jpg');
    background-repeat: no-repeat;
    background-position-y: 12rem;
    background-size: auto 65%;
}

header .hero .me-image {
    width: 100%;
    height: auto;
}

header .about-wrapper .hero .me-image {
    /* width: calc(110% - 4rem); */
    width: 100%;
    transform: translateX(-4rem) rotate(-15deg);
}


main section {
    padding: 4rem 1rem 4rem 1.8rem;
    background-color: transparent;
    transition: background-color 1.5s ease;
}

main section.first {
    padding-top: 8rem;
}

main section.three-up {
    display: flex;
    flex-direction: column;
}

main section.three-up .pro-blurb {
    order: 1;
}

main section.three-up .bio {
    order: 2;

}

main section.three-up .shoutouts {
    order: 3;
}

main section.posts {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    padding-top: 3rem;
    padding-right: 6rem;
    background-image: url(../images/molly-watching-mobile.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
}

main section.posts .posts-list {
    order: 2;
}

main section.posts .sidebar {
    order: 1;

}

main section.posts .sidebar .topics-list {
    padding-left: 2rem;
max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

main section.posts .sidebar .topics-list.visible-topics {
  max-height: 500px; 
  opacity: 1;
}

main section.posts .sidebar .toggle-topics .toggle-link {
    color:#1100FF;
    font-family: 'Space Mono', sans-serif;
    text-decoration: none;
}

main section.visible-bg {
    background-color: #f4f4f4;
}

main section h1 {
    padding-top: 5.6rem;
    background-image: url(../images/me-lines-trans-sm.png);
    background-repeat: no-repeat;
    font-size: 1rem;
    padding-bottom: 1rem;
    text-shadow:
        2px 0 0 #F4F4F4,
        -2px 0 0 #F4F4F4,
        0 2px 0 #F4F4F4,
        0 -2px 0 #F4F4F4,
        1.4px 1.4px 0 #F4F4F4,
        -1.4px 1.4px 0 #F4F4F4,
        1.4px -1.4px 0 #F4F4F4,
        -1.4px -1.4px 0 #F4F4F4;
}

main section h2 {
    font-size: 1rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

main section.posts h2 {
    padding-left: 0rem;
}

main section.posts .posts-list .post-preview {
    padding-bottom: 1.2rem;
}

main section.posts .posts-list .post-preview h2 {
    font-size: 1rem;
    padding-bottom: 0.1rem;
    font-weight: normal;
}

main section.posts .posts-list .post-preview h2 a {
    font-family: 'Space Mono', monospace;
    color: #1100FF;
    background-color: #FFFFFF;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

main section.posts .posts-list .post-preview p.post-date {
    font-size: 0.9rem;
    color: #666666;
    padding-bottom: 0.2rem;
}

main section p {
    padding-bottom: 1rem;
}

main section p .bit-bold {
    font-weight: 600;
}

main section p.l1 {
    padding-top: 0rem;
}

main section p.l2 {
    padding-left: 2rem;
}

main section p.quote {
    font-family: 'Recursive', sans-serif;
    font-weight: 300;
    padding-bottom: 0.3rem;
    font-variation-settings:
        'CASL' 1,
        /* Full Casual */
        'MONO' 0,
        /* Sans mode */
        'slnt' -15,
        /* More slant for stronger italic feel */
        'CRSV' 1;
    /* Max cursive flair */
}

main section p.quote-author {
    padding-left: 3rem;
    font-size: 0.8rem;
    color: #666666;
}

main section ul {
    padding-left: 3.3rem;
    padding-bottom: 1rem;
}


main section ul li {
    list-style: none;
    padding-left: 0.4rem;
    margin-bottom: 0.4rem;
}

main section ul li::marker {
    content: "› ";
    font-size: 1.2rem;
    line-height: 0.8;
}

main section table {
    width: calc(100% - 2rem);
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    border-collapse: collapse;
    border-spacing: 0;
}

table col:first-child {
    width: 40%;
}

main section table tr th {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem 0.2rem 0.5rem 0.0rem;
    border-bottom: 1px solid #000000;
}

main section table tr td {
    text-align: left;
    vertical-align: top;
    padding: 0.5rem 0.2rem 0.5rem 0.0rem;
    border-bottom: 1px solid #CCCCCC;
}


main section p a {
    display: inline;
    color: #1100FF;
    text-underline-offset: 0.15em;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

main section.three-up .bio p a {
    display: inline;
    color: #1100FF;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}

main section.blog-post {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-bottom: 6rem;
    /* background-image: url(../images/molly-watching-mobile-bottom.jpg); */
    background-image: none;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

main section.blog-post article {
    order: 1;
}

main section.blog-post .related-posts {
    order: 2;
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px dotted #333333;
    padding-left: 0rem;
}

main section.blog-post .related-posts h2 {
    padding-left: 0rem;
    font-size: 1rem;
    padding-bottom: 1rem;
}

main section.blog-post .related-posts ul {
    padding-left: 2rem;
}

main section.blog-post article {
    /* padding-right: 1rem; */
    font-family: 'Zilla slab', serif;
}

main section.blog-post article p {
    font-size: 1.2rem;
    line-height: 1.4em;
}

main section.blog-post article a {
    display: inline;
    padding: 0 0.1rem 0 0.1rem;
}

main section.blog-post article strong {
    font-weight: normal;
    background-color: rgba(223, 255, 0, 0.5);
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;

}

main section.blog-post article ul {
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

main section.blog-post article ol {
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.1rem;
}

main section.blog-post article ol li {
    padding-left: 0.4rem;
    margin-bottom: 0.4rem;
}

main section.blog-post article h2 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    background-color: #FFFFFF;
}

main section.blog-post article h3 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 1.3rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    margin-top: 0.5rem;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    background-color: #F8F8F8;
}

main section.blog-post article h4 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 1.2rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    padding-bottom: 0rem;
    margin-bottom: 1rem;
    background-color: #F8F8F8;
}

main section.blog-post article blockquote {
    font-style: italic;
    background-color: #DFFF00;
    padding: 0.2rem;
    padding-left: 0.3rem;
    margin-bottom: 1rem;
}

main section.blog-post article blockquote p {
    padding-bottom: 0rem;
}


/* main section.blog-post article h2::before {
    content: "## ";
}

main section.blog-post article h3::before {
    content: "### ";
}

main section.blog-post article h4::before {
    content: "#### ";
}
 */
main section.blog-post article .direct-link {
    display: none;
}

main section.blog-post article img {
    width: 100%;

}

.dataroom-wrapper main {
    height: 350vh;
}

main section.dataroom-dt {
    background: none;
    padding: 0;
    margin-top: 4rem;
    width: 100%;
    height: 350vh;
    position: relative;
    overflow: hidden;
}

.scattered-img {
    object-fit: contain;
    position: absolute;
    /* filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2)); */
    border: 1px solid #000000;
    transform: translateX(-10px);
    transition: opacity 0.5s ease, transform 0.3s ease;
    z-index: 1;
    opacity: 0;
}

@keyframes flicker-bg {
  0%   { background-color: #DFFF00; }
  20%  { background-color: #FFFFFF; }
  40%  { background-color: #DFFF00; }
  60%  { background-color: #FFFFFF; }
  80%  { background-color: #DFFF00; }
  100% { background-color: #FFFFFF; }
}

.how-textbox {
  background-color: #DFFF00;
  color: #000000;
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: 'Space Mono', serif;
  border-radius: 0px;
  max-width: 90vw;
  z-index: 10;
  opacity: 0;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

.flicker-text {
  animation: flicker-bg 0.6s ease-in-out 1;
}


a.popout::after {
    content: "↗";
    margin-left: 0.1em;
    display: inline-block;
    color: #000000;
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

a.popup::after {
    content: "⧉";
    margin-left: 0.1em;
    display: inline-block;
    color: #000000;
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

a.locked::after {
    content: "🔒";
    margin-left: 0.1em;
    display: inline-block;
    color: #000000;
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

.highlight {
    display: inline-block;
    background-color: #DFFF00;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.highlight-inline {
    display: inline;
    background-color: #DFFF00;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}

.work-tooltip {
  cursor: pointer;
}


.tooltip-popup {
    position: fixed;
    cursor: pointer;
    pointer-events: none;
    display: inline-block;
    text-decoration: none;
    color: #1100FF;
    background-color: #FFFFFF;
    padding: 0.4rem 0.6rem 0.5rem 0.6rem;
    border: 2px solid #1100FF;
    font-size: 0.9rem;
    font-family: 'Space Mono', monospace;
    border-radius: 0px;
    white-space: nowrap;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.2s ease;
}



.infotip {
    position: relative;
    border-bottom: 1px dotted #999999;
    cursor: help;
}

/* Tooltip box */
span.infotip::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    /* above the link */
    left: -3.5rem;
    background: #FFFFFF;
    color: #000000;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    padding: 0.4rem 0.6rem;
    font-weight: normal;
    text-transform: none;
    width: max-content;
    max-width: 80vw;
    border-radius: 0rem;
    opacity: 0;
    pointer-events: none;
    transform: translate(-25%, -0.5em);
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 10;
}

span.infotip:hover::before,
span.infotip:focus::before {
    opacity: 1;
    transform: translateY(-0.8em);
}

.tap-indicator {
    display: inline;
    margin-left: 0.2rem;
    font-size: 1rem;
    opacity: 0.6;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.05);
    z-index: 1000;
    overflow: auto;

    /* Hide by default */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: 1rem;
    padding: 1.1rem 0rem 0rem 0.8rem;
    width: calc(100vw - 2rem);
    height: calc(100svh - 2rem);
    background: #FFFFFF;
    color: #000000;
    border-radius: 0rem;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    transform: scale(0.3);
    opacity: 0;
    transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
    will-change: transform, opacity;
}

.modal-content.animate-in {
    transform: scale(1);
    opacity: 1;
}

.modal-content h1 {
    position: absolute;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.modal-content h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.modal-content .close {
    position: absolute;
    text-align: right;
    top: 0rem;
    right: 0.0rem;
    padding: 1.5rem;
    padding-right: 1.6rem;
    background: none;
    border: none;
    font-size: 1rem;
    color: #000000;
    cursor: pointer;
}

.modal-content .contact-detail {
    margin-top: 2.7rem;
    padding-right: 4.5rem;
    height: calc(100svh - 4.8rem);
    background-image: url(../images/modal-contact.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-size: 63px auto;
}

.modal-content .contact-detail ul.profile {
    font-size: 1.2rem;
    margin-top: 3.2rem;
    margin-left: 0rem;
    display: inline-block;
}

.modal-content .contact-detail ul.profile li {
    list-style: none;
}

.modal-content .contact-detail ul.profile li.name {
    font-weight: 700;
}

.modal-content .contact-detail ul.profile li a {
    color:#000000;
    text-decoration: underline;
}

.modal-content .contact-detail ul.profile li a:hover {
    color: #1100FF;
    text-decoration: none;
}

.modal-content .contact-detail h2 {
    margin-top: 2rem;
}

.modal-content .contact-detail p {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    line-height: 1.4em;
}

.modal-content .contact-detail p a {
    text-decoration: underline;
    overflow-wrap: anywhere;
    color: #1100FF;
}

.modal-content .contact-detail p a:hover {
    text-decoration: none;
    font-weight: 700;
    text-transform: capitalize;
}

.modal-content .contact-detail .contact-type {
    font-size: 1rem;
}

footer {
    font-size: 0.9rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    border-top: 1px solid #666666;
    background-color: #FFFFFF;
}

footer .two-col {
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
    /* optional spacing between columns */
}

footer .col.left {
    text-align: left;
    flex: 65%;
}

footer .col.right {
    text-align: right;
    flex: 35%;
}

footer .two-col .col ul.profile {
    margin-bottom: 1.5rem;
}

footer .two-col .col ul.profile li {
    list-style: none;
}

footer .two-col .col ul.profile li.name {
    font-weight: 700;
}

footer .two-col .col ul.menu {
    margin-bottom: 1.5rem;
}

footer .two-col .col ul.menu li {
    list-style: none;
}

footer ul li a {
    display: inline-block;
    color: #1100FF;
    padding: 0.0rem 0.1rem 0.0rem 0.1rem;
}






.diagonal-line-down {
    position: fixed;
    top: 0;
    left: 1.5rem;
    width: calc(100vw - 1.5rem);
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.diagonal-line-up {
    position: fixed;
    top: 0;
    left: 1.5rem;
    width: calc(100vw - 1.5rem);
    height: 100vh;
    z-index: -1;
    pointer-events: none;
}

.small-screen-down {
    display: block;
}

.small-screen-up {
    display: block;
}

.large-screen-down {
    display: none;
}

.large-screen-up {
    display: none;
}


@media (min-width: 768px) {
    .small-screen-down {
        display: none;
    }

    .small-screen-up {
        display: none;
    }

    .large-screen-down {
        display: block;
        left: 4rem;
    }

    .large-screen-up {
        display: block;
        left: 4rem;
    }

    nav {
        padding: 1rem 1.5rem 1rem 1rem;
    }

    nav .hamburger {
        display: none;
    }

    nav .menu {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        box-shadow: none;
        padding: 0;

        /* Reset animation styles */
        max-height: none;
        opacity: 1;
        transform: none;
        overflow: visible;
    }

    nav .menu li {
        opacity: 1;
        transform: none;
        transition: none;
    }

    header ul.profile {
        margin-left: 4rem;
        margin-top: 3.5rem;

    }

    header .page-name {
        position: absolute;
        top: 7.7rem;
        left: 20rem;
        padding-left: 6rem;
        width: 20rem;
        height: 10rem;
        background-image: url(../images/page-name-arrow.svg);
        background-size: 86px;
        background-repeat: no-repeat;
        background-position-y: 0.3rem;
    }

    header .page-name h1 {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700;
        transform: none;
    }



    header .cta {
        margin-top: -7.5rem;
        margin-left: 41rem;
        max-width: 40rem;
    }

    header .blog {
        padding-top: 0rem;
        margin-top: -7.7rem;
        background-image: none;
    }

    header .cta p.quote {
        max-width: 30rem;
        font-size: 1.5rem;
    }

    header .cta p.featured-post {
        max-width: 30rem;
        font-size: 1.7rem;
    }

    header .cta p.featured-post a:hover {
        text-decoration: none;
    }

    header .cta p.featured-post-date {
        font-size: 1rem
    }

    header .about-wrapper .cta {
        margin-top: -7.7rem;
        order: 1;
    }

        @keyframes flicker {
    0%, 100% { opacity: 1; }
    10% { opacity: 0.6; }
    20% { opacity: 0.9; }
    30% { opacity: 0.4; }
    40% { opacity: 1; }
    50% { opacity: 0.7; }
    60% { opacity: 1; }
    70% { opacity: 0.5; }
    80% { opacity: 0.8; }
    90% { opacity: 1; }
    }
    header .cta p.button, header .about-wrapper .cta p.button {
        display: block;
    }

    header .cta p.button:hover {
        animation: flicker 0.6s linear;
    }


    header .about-wrapper .hero {
        order: 2;
    }

    header .hero {
        /* display: inline-block; */
        margin-top: -8rem;
        text-align: left;
        margin-left: 14rem;
        width: calc(100% - 14rem);
        height: 80vh;
        background-image: url('../images/vintage-gissy-river-double.jpg');
        background-repeat: no-repeat;
        background-position-y: 12rem;
        background-position-x: left;
    }

    header .about-wrapper .hero {
        margin-top: -3rem;
        margin-left: 5rem;
        padding-left: 0rem;
        height: 80vh;
        width: calc(100% - 5rem);
        background-image: url('../images/gorge.jpg');
        background-repeat: no-repeat;
        background-position-y: 13rem;
        background-size: auto 60%;
        pointer-events: none;
    }

    header .hero .me-image {
        width: 20rem;
        margin-left: 0rem;
    }

    header .about-wrapper .hero .me-image {
        width: 25rem;
        margin-left: 0rem;
        transform: translateX(-4.8rem) rotate(-15deg);
    }

    main section {
        padding: 6rem 1rem 6rem 1.8rem;
        width: 50vw;
        min-width: 600px;
        margin: auto;
        font-size: 1.2rem;
    }

    main section.first {
        padding-top: 10rem;
    }

    main section.three-up {
        flex-direction: row;
        width: calc(100vw - 2.8rem);
        min-width: none;
        gap: 3rem;
    }

    main section.three-up .pro-blurb {
        order: 2;
        flex: 4;
    }

    main section.three-up .bio {
        order: 1;
        flex: 2;
        padding-top: 8.9rem;
    }

    main section.three-up .shoutouts {
        order: 3;
        flex: 2;
        padding-top: 8.9rem;
    }

    main section.posts {
        flex-direction: row;
        padding-right: 30vw;
        width: calc(100vw - 1.8rem);
        min-width: none;
        gap: 3rem;
        margin-top: 8rem;
        margin-right: 0rem;
        border-top: 1px dotted #000000;
        background-image: url(../images/molly-watching.jpg);
        background-position-x: 75vw;
        background-size: contain;
    }

    main section.posts .posts-list {
        order: 2;
        flex: 3;
    }

    main section.posts .sidebar {
        order: 1;
        flex:1;
    }

    main section h1 {
        font-size: 1.2rem;
        padding-bottom: 1.2rem;
    }

    main section h2 {
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    main section.three-up h2 {
        font-size: 1rem;
        padding-left: 2rem;
        padding-bottom: 1rem;
    }

    main section p {
        padding-bottom: 1.2rem;
    }

    main section.three-up .bio p {
        font-size: 1rem;
    }

    main section.three-up .bio ul {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    main section.three-up .shoutouts p {
        font-size: 1rem;
    }

    main section.three-up .shoutouts ul {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    main section.posts .posts-list .post-preview {
        padding-bottom: 3rem;
        max-width: 700px;
    }
    main section.posts .posts-list .post-preview h2 {
        font-size: 1.3rem;
        padding-bottom: 0.3rem;
        /* line-height: 1.9rem; */
        font-weight: normal;
    }

    main section.posts .posts-list .post-preview h2 a {
        font-family: 'Space Mono', monospace;
        color: #1100FF;
    }

    main section.posts .posts-list .post-preview h2 a:hover {
        text-decoration: none;
        text-transform: capitalize;
    }

    main section.posts .posts-list .post-preview p.post-date {
        font-size: 0.9rem;
        color: #666666;
        padding-bottom: 0.2rem;
    }

    main section.posts .sidebar p {
        font-size: 1rem;
    }

    main section.posts .sidebar ul {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    main section p a,
    main section li a {
        font-family: 'Space Mono', monospace;
    }

    main section.three-up .bio p a {
        display: inline;
    }

    main section p a:hover,
    main section li a:hover {
        text-decoration: none;
        font-weight: 700;
        text-transform: capitalize;
    }


    main section.blog-post {
        flex-direction: row;
        padding-right: 30vw;
        width: calc(100vw - 1.8rem);
        min-width: none;
        gap: 3rem;
        margin-top: 8rem;
        margin-right: 0rem;
        border-top: 1px dotted #000000;
        background-image: none;
        /* background-image: url(../images/blog-post-wash.jpg); */
        background-position-x: 75vw;
        /* background-position: right center; */
        background-size: contain;
    }

    main section.blog-post article {
        order: 2;
        flex: 3;
    }

    main section.blog-post .related-posts {
        order: 1;
        flex:1;
        font-size: 1rem;
        margin-top: 0rem;
        padding-top: 0rem;
        border-top: none;
    }

    main section.blog-post .related-posts h2 {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    main section.blog-post article p {
        font-size: 1.4rem;
        /* line-height: 1.4em; */
    }

    main section.blog-post article a {
        display: inline;
        padding: 0 0.1rem 0 0.1rem;
    }

    main section.blog-post article h2 {
        font-size: 2rem;
        margin-bottom: 1.7rem;
    }

    main section.blog-post article h3 {
        font-size: 1.5rem;
        margin-top: 1.1rem;
    }

     main section.blog-post article h4 {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
   

    .dataroom-wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .dataroom-wrapper main {
        flex: 1;
        display: flex; 
        flex-direction: column;
        height: 60vh;
    }


    main section.dataroom-dt {
        background: none;
        padding: 0;
        margin-top: 4rem;
        width: 100%;
        height: 60vh;
        position: relative;
        overflow: hidden;
    }





    .tooltip {
        position: relative;
    }

    /* Tooltip box */
    a.tooltip::before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 100%;
        /* above the link */
        left: 0;
        background: #FFFFFF;
        color: #000000;
        border-bottom: 1px solid #DDDDDD;
        border-right: 1px solid #DDDDDD;
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
        font-weight: normal;
        text-transform: none;
        width: 500px;
        border-radius: 0rem;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-0.5em);
        transition: opacity 0.2s ease, transform 0.2s ease;
        z-index: 10;
    }

    /* Show on hover */
    a.tooltip:hover::before {
        opacity: 1;
        transform: translateY(-0.8em);
    }

    span.infotip::before {
        max-width: 40vw;
        font-size: 1.2rem;
    }

    main section.three-up .bio span.infotip::before {
        max-width: 40vw;
        font-size: 1rem;
    }

    main section.posts .sidebar span.infotip::before {
        max-width: 40vw;
        font-size: 1rem;
    }

    .tap-indicator {
        display: none;
    }




    .modal-content .contact-detail {
        margin-top: 2.7rem;
        padding-left: 30vw;
        padding-right: 4.5rem;
        height: calc(100svh - 4.8rem);
        background-image: url(../images/modal-contact-lg.jpg);
        background-repeat: no-repeat;
        background-position-x: 50vw;
        background-position-y: top;
        background-size: 339px auto;
    }





    footer {
        padding: 2.5rem 2rem 2.5rem 2rem;
    }

    footer .two-col .col ul.profile li a {
        font-family: 'Space Mono', monospace;
    }

    footer .two-col .col ul.profile li a:hover {
        font-weight: 700;
        text-decoration: none;
    }

    footer .two-col .col ul.menu li {
        font-family: 'Space Mono', monospace;
    }

    footer .two-col .col ul.menu li a:hover {
        font-weight: 700;
        text-decoration: none;
        text-transform: capitalize;
    }

    footer .two-col .col ul.menu li a.active {
        color: #000000;
        text-decoration: none;
    }



}