---
layout: base.njk
title: "About: Ian Allan, Venture designer and ethical technologist"
---
<header>
    {% include "navbar.njk" %}
    <div class="page-name">
        <h1># About</h1>
    </div>
    {% include "profile.njk" %}
    <div class="about-wrapper">
        <div class="cta">
            <h1>## Quote</h1>
            <p class="quote">“I would encourage you to stir up this sleepy town.”
            </p>
            <p class="quote-author">&mdash; Post-election man on street</p>
            <p class="button"><a class="button-inline-outline" href="#the-blurb">[Why me? ↓]</a><span
                    class="button-tag">
                    (#the-blurb)</span></p>
        </div>
        <div class="hero">
            <img class="me-image" src="/images/me-cactus.png" alt="Me in cactus uniform">
        </div>
    </div>
</header>
<main>

    <section id="the-blurb" class="three-up">

        <div class="pro-blurb">
            <h1># Professional blurb</h1>
            <p>I'm a <span class="bit-bold">product professional</span> who has <a
                    href="https://www.linkedin.com/in/ianallan/" target="_blank" class="popout tooltip" rel="noopener"
                    data-tooltip="Check my LinkedIn for all the details.">specialised</a><img src="../images/li-icon.png" style="display: inline-block; width:1.2rem; padding-right: 4px;"> in solving for gaps in growing
                markets.</p>
            <p>I'm now also a trusted adult educator, <span class="bit-bold">experiential learning designer</span>, and
                vocational skills advocate.</p>
            <p>I'm <span class="bit-bold">highly regarded</span> for my breadth of skills, insights, and translation of
                ideas into hi- and low-tech ventures and products for persistent and emergent needs.</p>
            <h2>## Quote</h2>
            <p class="l2 quote">"Ian is a deep thinker who is always one step ahead of the market. I have admired his
                remarkable ability to recognise global trends and predict where technology is headed. He demonstrates
                strong leadership skills and the ability to influence executives in a positive way. Best of all, Ian is
                a kind and fun person to be around."</p>
            <p class="l2 quote-author">&mdash; Karen Knott, General Manager - Corporate Communications, Fisher &amp;
                Paykel Healthcare
            </p>

            <h1># Skill-set</h1>

            <h2>## Ventures &amp; product</h2>
            <table>
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>Skill</th>
                    <th>Experience (Years)</th>
                </tr>
                <tr>
                    <td>Product design &amp; development leadership</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Venture &amp; product go-to-market strategy</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Product-market analysis</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Persuasive writing</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Pitch decks, sales decks, collateral, proposals</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Investment memorandums</td>
                    <td>🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Pricing, pricing strategies &amp; modelling</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Presenting, workshops, teaching</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Learning design</td>
                    <td>🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Prototyping, off and on</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>UI &amp; web design</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Advocacy &amp; public engagement</td>
                    <td>🧠🧠🧠</td>
                </tr>
            </table>

            <h2>## Focus areas</h2>
            <table>
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>Focus</th>
                    <th>Experience (Years)</th>
                </tr>
                <tr>
                    <td>Technology design</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Fintech and mobile</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Education and edtech</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Merchant services</td>
                    <td>🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Serving the underserved</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Advocacy</td>
                    <td>🧠🧠🧠</td>
                </tr>
            </table>

            <h2>## Technical &amp; design</h2>
            <table>
                <colgroup>
                    <col>
                    <col>
                </colgroup>
                <tr>
                    <th>Skill</th>
                    <th>Experience (Years)</th>
                </tr>
                <tr>
                    <td>Raw HTML, CSS, JS</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Static site frameworks (node.js, <a href="https://www.11ty.dev/" target="_blank">11ty</a> - love it!)</td>
                    <td>🧠</td>
                </tr>
                <tr>
                    <td>Bootstrap, Wordpress etc, off and on</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Data, SQL, off and on</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Figma</td>
                    <td>🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Adobe suite</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
                <tr>
                    <td>Office, leet level</td>
                    <td>🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠🧠</td>
                </tr>
            </table>

        </div>
        <div class="bio">
            <h2>## Bio</h2>
            <p class="l2">Born and raised in Gisborne, New Zealand before making that northward drift.</p>
            <p class="l2">I returned a few years ago in a <a href="https://ianallan.vote/seachange" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="I turned the blog of that year into a big book for my children.">family caravan</a> and have since been doing up a dunga of a house, teaching adults, and advocating for strong public vocational education.</p>
            <p class="l2">Oh, and I recently stepped out to <a href="https://ianallan.vote/about/" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="You can still find a thorough personal bio there.">run for the Gisborne District Council</a>. <a href="https://ianallan.vote/blog/its-all-over/" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="Summing up the experience.">I didn't make it</a>, but left a decent impression and a <a href="https://ianallan.vote/blog/" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="If you want to know what I think of this place I call home, my council run motivated me to write things down: honest about the broader system but still hopeful we can solves things for ourselves out here.">useful collection of thinking</a>.</p>
            <h2>## Into</h2>
            <ul>
                <li><a href="https://www.nzherald.co.nz/gisborne-herald/news/gisborne-candidates-vision-a-place-worth-staying-and-returning-to/3DIBTCTJDVCWNJPVUX3TZGLWC4/" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="I was profiled by The Gisborne Herald recently.">Falling in love with the problem</a></li>
                <li><a href="https://www.noemamag.com/we-need-to-rewild-the-internet/" target="_blank" class="popout tooltip" rel="noopener" data-tooltip="'The internet has become an extractive and fragile monoculture. But we can revitalize it using lessons learned by ecologists.'">Rewilding the Internet</a></li>
                <li>Valuing craftsmanship</li>
                <li><span class="infotip" data-tooltip="Meatspace: The physical world, as opposed to the virtual world of the Internet.">Meatspace</span> community</li>
                <li>Phones as tools</li>
                <li>The political economy</li>
                <li>Indie things - web, music, design, products, retail</li>
            </ul>            
            <h2>## Qualifications &amp; part-time roles</h2>
            <ul>
                <li>Bachelor of Computing &amp; Mathematical Sciences (Hons), University of Waikato</li>
                <li>Certificate in Adult and Tertiary Teaching, Open Polytechnic</li>
                <li>Tertiary Education Union co-Branch President, EIT</li>
                <li>Senior Academic Staff Member, EIT</li>
            </ul>            
        </div>
        <div class="shoutouts">
            <h2>## Shout-outs</h2>
            <ul>
                <li><a href="https://sunshinebrewing.co.nz/" target="_blank" class="popout" rel="noopener">Sunshine Brewery</a></li>
                <li><a href="https://cactusoutdoor.co.nz/" target="_blank" class="popout" rel="noopener">Cactus Outdoor</a></li>
                <li><a href="https://www.youtube.com/@garyseconomics/featured" target="_blank" class="popout" rel="noopener">Gary's Economics</a></li>
                <li><a href="https://www.11ty.dev/" target="_blank" class="popout" rel="noopener">11ty</a></li>
                <li><a href="https://thisisforeveryone.timbl.com/" target="_blank" class="popout" rel="noopener">Tim Berners-Lee</a></li>
                <li><a href="https://thekaka.substack.com/" target="_blank" class="popout" rel="noopener">Bernard Hickey</a></li>
                <li><a href="https://www.vornmusic.com/" target="_blank" class="popout" rel="noopener">Vorn</a> and <a href="https://www.vornmusic.com/" target="_blank" class="popout" rel="noopener">Lake South</a> and <a href="https://www.audioculture.co.nz/profile/jakob" target="_blank" class="popout" rel="noopener">Jakob</a></li>
                <li><a href="https://www.wellingtonseashantysociety.com/" target="_blank" class="popout" rel="noopener">Wellington Sea Shanty Society</a></li>
                <li><a href="https://www.instagram.com/jasonakuhatabrownrestorer/" target="_blank" class="popout" rel="noopener">Jason Akuhata-Brown</a></li>
                <li><a href="https://maps.app.goo.gl/kcoUZHHqeELusYZV7" target="_blank" class="popout" rel="noopener">Barwicks</a></li>
                <li><a href="https://maps.app.goo.gl/jvo7nojjzNXmJEi59" target="_blank" class="popout" rel="noopener">Local opshops</a></li>
                <li><a href="https://www.youtube.com/@TheProfGPod" target="_blank" class="popout" rel="noopener">Prof G</a></li>
                <li><a href="https://www.youtube.com/@livingbig" target="_blank" class="popout" rel="noopener">Living Big in a Tiny House</a></li>
                <li><a href="https://www.beck.com/" target="_blank" class="popout" rel="noopener">Beck</a> and <a href="https://dischord.com/band/fugazi" target="_blank" class="popout" rel="noopener">Fugazi</a></li>
                <li><a href="https://soulshoes.co.nz/" target="_blank" class="popout" rel="noopener">Soul Shoes</a></li>
                <li><a href="https://www.youtube.com/@ScottBrownCarpentry/videos" target="_blank" class="popout" rel="noopener">Scott Brown Carpentry</a></li>
                <li><a href="https://www.davidcarsondesign.com/" target="_blank" class="popout" rel="noopener">David Carson</a></li>
                <li><a href="https://www.youtube.com/@DougDeMuro/videos" target="_blank" class="popout" rel="noopener">Doug DeMuro</a></li>
                <li><a href="https://www.youtube.com/@DougDeMuro/videos" target="_blank" class="popout" rel="noopener">Semafor Newsletters</a></li>
            </ul>            
        </div>

    </section>


</main>