---
layout: base.njk
title: "About: Ian Allan, Venture designer and ethical technologist"
---
<header>
    {% include "navbar.njk" %}
    <div class="page-name">
        <h1># About</h1>
    </div>
    {% include "profile.njk" %}
    <div class="about-wrapper">
        <div class="cta">
            <h1>## Quote</h1>
            <p class="quote">“I would encourage you to stir up this sleepy town.”
    </p>
            <p class="quote-author">&mdash; Post-election man on street</p>
            <p class="button"><a class="button-inline-outline" href="#the-blurb">[Why me? ↓]</a><span class="button-tag">
                    (#the-blurb)</span></p>
        </div>
        <div class="hero">
            <img class="me-image" src="/images/me-cactus.png" alt="Me in cactus uniform">
        </div>
    </div>
</header>
<main>

    <section id="the-blurb" class="three-up">

        <div class="pro-blurb">
            <h1># Professional blurb</h1>
            <p><span class="highlight">I'm a product professional who has specialised in solving for gaps in growing markets.</span></p>
            <p>For 20 years I created and helped take-to-market venture and technology solutions throughout Asia, the Pacific, Middle East and Africa.</p>
            <p><strong>Now I'm returning my experiences to my hometown of Gisborne, New&nbsp;Zealand.</strong></p>
            <p>I'm highly regarded for my breadth of skills, insights, and translation of ideas into hi- and low-tech ventures and products for persistent and emergent needs.</p>


            <h2>## Skill-set</h2>
            <p class="l2">My expertise is in venture and product design and development, product-led go-to-market strategy, pitching and proposing, strategic investment positioning, transactional and SaaS commercial modelling, and process optimisation.</p>
            <p class="l2">With a focus on solutions for the underserved, I've performed multi-disciplinary roles across digital banking and payments, ad-hoc micro business and supply chain, education and social content platforms, government disbursements, international remittances, and real-time billing.</p>
        </div>
        <div class="bio">
            <h2>## My bio</h2>
            <h2>## Into</h2>
        </div>
        <div class="shoutouts">
            <h2>## Shout-outs</h2>
        </div>

    </section>


</main>
