---
layout: base.njk
title: "Blog: Ian Allan, Venture designer and ethical technologist"
---
<header>
    {% include "navbar.njk" %}
    <div class="page-name blog-name">
        <h1># Blog</h1>
    </div>
    {% include "profile.njk" %}
    <div class="cta blog">
        <h1>## Hot-or-not</h1>
        <p class="featured-post"><a href="">On household incomes and wealth</a></p>
        <p class="featured-post-blurb">I heard questions raised about average income statistics in the final council
            meeting.</p>
        <p class="featured-post-date">&mdash; 2 October 2025</p>
        <p class="button"><a class="button-inline-outline" href="#the-blurb">[Read it]</a><span class="button-tag">
                (/blog/on-household-incomes-and-wealth)</span></p>
    </div>
</header>
<main>

    <section id="posts" class="posts">
        <div class="posts-list">
            <h2>## All</h2>
            {% for post in collections.blogWithNumbers | reverse %}
            <article class="post-preview">
                <h2>{{ post.data.postNumber }}. <a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                <p class="post-date">{{ post.date | date("d MMMM yyyy") }}</p>
                <p class="post-blurb">{{ post.data.excerpt }}</p>
            </article>
            {% endfor %}
        </div>
        <div class="sidebar">
            <h2 class="toggle-topics">## <a href="#" class="toggle-link">[Show topics⇣]</a></h2>
            <ul class="topics-list">
                <li>link</li>
                <li>link</li>
                <li>link</li>
                <li>link</li>
            </ul>
        </div>

    </section>


</main>