---
layout: base.njk
title: "Blog | Ian Allan: Venture designer, ethical technologist; East Coast, New Zealand."
excerpt: "The blog of Ian Allan, an ongoing reflection on rewilding the internet and other things."
---
<header>
    {% include "navbar.njk" %}
    <div class="page-name blog-name">
        <h1># Blog</h1>
    </div>
    {% include "profile.njk" %}
    <div class="cta blog">
        <h1>## Hot-or-not</h1>
        {% set pinnedPost = collections.pinnedPost %}

        <p class="featured-post"><a href="{{ pinnedPost.url }}">{{ pinnedPost.data.title }}</a></p>
        <p class="featured-post-blurb">{{ pinnedPost.data.excerpt }}</p>
        <p class="featured-post-date">&mdash; {{ pinnedPost.date | date("d MMMM yyyy") }}</p>
        <p class="button"><a class="button-inline-outline" href="{{ pinnedPost.url }}">[Read it]</a><span
                class="button-tag">
                ({{ pinnedPost.url }})</span></p>
    </div>
</header>
<main>

    <section id="posts" class="posts">
        <div class="posts-list">
            <h2 class="rss"><span>## All</span> <a href="/feed.xml" target="_blank" class="popout tooltip" data-tooltip="You're a righteous stalwart using an RSS reader for your news content; I see you. ✊"><img src="../images/rss-icon.png" class="rss-icon"><span class="rss-text">RSS</span></a></h2>
            {% for post in collections.blogWithNumbers | reverse %}
            <article class="post-preview">
                <h2>{{ post.data.postNumber }}. <a href="{{ post.url }}">{{ post.data.title }}</a></h2>
                <p class="post-date">{{ post.date | date("d MMMM yyyy") }}</p>
                <p class="post-blurb">{{ post.data.excerpt }}</p>
            </article>
            {% endfor %}
        </div>
        <div class="sidebar">
            {% include "blog-topics-list.njk" %}
        </div>

    </section>


</main>