---
layout: base.njk
title: "Work: Ian Allan, Venture designer and ethical technologist"
---

<div class="dataroom-wrapper">
    <header>
        {% include "navbar.njk" %}
        <div class="page-name">
            <h1># Work</h1>
        </div>
        {% include "profile.njk" %}
        <div class="cta">
            <h1>## First</h1>
            <p>My work isn't generally available. But after meeting with you, I can <span
                    class="highlight-inline">unlock</span> some
                of the things I've done and am doing.</p>
            <p class="button"><a class="button-inline-outline" href="mailto:ian.allan.nz@gmail.com">[Let's meet
                    ↗]</a><span class="button-tag">
                    (mailto:ian)</span></p>
        </div>
    </header>
    <main>
        <section id="dataroom" class="dataroom">
            <div class="black-window-mob">
                <svg viewBox="0 0 263 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38 0H225L263 100H0L38 0Z" fill="black" />
                </svg>
            </div>
            <div class="black-window">
                <svg viewBox="0 0 234 452" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-2.8547e-06 386.692L-1.69028e-05 65.308L234 -2.24144e-06L234 452L-2.8547e-06 386.692Z"
                        fill="black" stroke="#666666"
  stroke-width="1" />
                </svg>
            </div>
            <img src="../images/work-pockit.jpg" class="dataroom-item img1">
            <img src="../images/work-pockit1.jpg" class="dataroom-item img2">
            <p class="dataroom-item q1">How do you respond to smartphone addiction with a meatspace brand?</p>
            <img src="../images/work-saved.jpg" class="dataroom-item img3">
            <p class="dataroom-item q2">How do you turn doomed Windows 10 devices into a longterm business model?</p>
            <img src="../images/work-saved1.jpg" class="dataroom-item img4">
            <img src="../images/work-sinkashi.jpg" class="dataroom-item img5">
            <p class="dataroom-item q3">How do you get the stuck-in-their-ways to collect food scraps?</p>
            <img src="../images/work-teu.jpg" class="dataroom-item img6">
            <p class="dataroom-item q4">How do you get public cut-through on the value of vocational education?</p>
            <img src="../images/work-cdv.jpg" class="dataroom-item img7">
            <p class="dataroom-item q5">How do you know what device West African small merchants would actually use?</p>
            <img src="../images/work-cdv1.jpg" class="dataroom-item img8">
            <img src="../images/work-yt5.jpg" class="dataroom-item img9">
            <img src="../images/work-yt1.jpg" class="dataroom-item img10">
            <img src="../images/work-yt6.jpg" class="dataroom-item img11">
            <p class="dataroom-item q6">How do you visualise future value to attract $XXm from an FMCG retail and
                distribution conglomerate?</p>
            <img src="../images/work-yt4.jpg" class="dataroom-item img12">
            <p class="dataroom-item q7">How do you create an app for street merchants who take cash and have informal
                supply lines?</p>
            <img src="../images/work-pond2.jpg" class="dataroom-item img13">
            <img src="../images/work-tki.jpg" class="dataroom-item img14">
            <p class="dataroom-item q8">How do you propose a reimagined social content platform for the MOE after you
                failed with the product you led?</p>
            <img src="../images/work-tki1.jpg" class="dataroom-item img15">
            <img src="../images/work-tki3.jpg" class="dataroom-item img16">
            <p class="dataroom-item button"><a class="button-inline-outline" href="#">[Back to top
                    ↑]</a></p>
        </section>
    </main>
</div>