---
layout: base.njk
title: "Work: Ian Allan, Venture designer and ethical technologist"
---

<div class="dataroom-wrapper">
    <header>
        {% include "navbar.njk" %}
        <div class="page-name">
            <h1># Work</h1>
        </div>
        {% include "profile.njk" %}
        <div class="cta">
            <h1>## First</h1>
            <p>My work isn't generally available. But after meeting with you, I can <span
                    class="highlight-inline">unlock</span> some
                of the things I've done and am doing.</p>
            <p class="button"><a class="button-inline-outline" href="mailto:ian.allan.nz@gmail.com">[Let's meet
                    ↗]</a><span class="button-tag">
                    (mailto:ian)</span></p>
        </div>
    </header>
    <main>
        <section id="dataroom-dt" class="dataroom-dt">


        </section>
    </main>
</div>