---
layout: base.njk
title: "Work: Ian Allan, Venture designer and ethical technologist"
---

<div class="dataroom-wrapper">
    <header>
        {% include "navbar.njk" %}
        <div class="page-name">
            <h1># Work</h1>
        </div>
        {% include "profile.njk" %}
        <div class="cta">
            <h1>## First</h1>
            <p>Much of my work isn’t generally available. But, after first meeting with you, I can <span class="highlight">open a window</span> to some
                of the things I have done, and am doing.</p>
            <p class="button"><a class="button-inline-outline" href="mailto:ian.allan.nz@gmail.com">[Let's meet
                    ↗]</a><span class="button-tag">
                    (mailto:ian)</span></p>
        </div>
    </header>
    <main>
        <section id="dataroom" class="dataroom">
            <div class="black-window-mob">
                <svg viewBox="0 0 263 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M38 0H225L263 100H0L38 0Z" fill="black" />
                </svg>
            </div>
            <img src="../images/work-cdv.jpg" class="dataroom-item cdv">



        </section>
    </main>
</div>